<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- In the user data folder (see AppPaths), not wherever the app was started from. -->
	<define name="EK_LOG" class="uk.me.mantas.eternity.environment.LogFileLocation"/>

	<appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%message</pattern>
		</encoder>
	</appender>

	<appender name="eternity" class="ch.qos.logback.core.FileAppender">
		<file>${EK_LOG}</file>
		<append>true</append>
		<encoder>
			<pattern>%message</pattern>
		</encoder>
	</appender>

	<root level="all">
		<appender-ref ref="stderr" />
		<appender-ref ref="eternity" />
	</root>
</configuration>
